
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: whitesmoke;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #434343;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #333333;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: #434343;;
}

.list-descriptor {
    -fx-text-fill: whitesmoke;
    -fx-padding: 3;
}

.list-selection-clear {
    -fx-graphic: url("ic_clear_white_18dp_1x.png") !important;
}

.list-text-filter {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #555;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: #333;
    -fx-text-fill: whitesmoke;
}