* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -23%);
    -fx-text-base: rgb(190, 190, 190);
}

.label {
    -fx-text-fill: white;
}

.progress-menu{
    -fx-background-color: -fx-background-hue2;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    /*-fx-border-radius: 11px;*/
    /*-fx-background-radius: 11px;*/
}

.progress-menu:popup{
    /*-fx-border-radius: 2 2 11px 11px;*/
    /*-fx-background-radius: 2 2 11px 11px;*/
}

.progress-menu:hover{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}

.progress-menu:pressed{
    -fx-border-color: rgb(248, 82, 25);
    -fx-opacity: 50%;
}

.progress-menu:focused{
    -fx-border-color: rgb(215, 133, 25) ;
}



.progress-menu .warning .label{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.progress-menu .icon-pane{
    /*-fx-background-color: red;*/
}

.progress-menu .icon-pane .progress-indicator{
    /* see modena.css */
}

.progress-menu .description{

}

.progress-menu .description .label{
    -fx-label-padding: 0 5 0 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.progress-menu > .spinner {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-insets: 0, 1, 5 2 1 2;
    -fx-padding: 0.166667em; /* 2px */
}

.progress-menu  > .tick {
    -fx-background-color: white;
    -fx-background-insets: 0;
    /*-fx-padding: 8 3 8 3; !* 8 *!*/
    -fx-padding: 8; /* 8 */
    /*-fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";*/
    -fx-shape: "M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z";
    /*-fx-shape: "M 110,567 L 90,567 L 42,132 C 40,114 40,100 40,90 C 40,70 45,49 56,35 C 70,22 83,15 100,15 C 117,15 130,22 144,35 C 155,49 160,70 160,90 C 160,100 160,114 158,132 z M 100,640 A 60,60 0 1,1 100,760 A 60,60 0 1,1 100,640 z";*/
}

.popup{
    -fx-background-color: -fx-background-hue3;
    /*-fx-background-radius: 11px 11px 2 2;*/
    /*-fx-border-radius: 11px 11px 2 2;*/
}

