* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -23%);
    -fx-text-base: rgb(190, 190, 190);
}

.requestable-box {
    -fx-background-color:   -fx-background-hue2;
    -fx-border-color:       black;
    -fx-border-width: 1;
}

.requestable-box .label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-base;
}

.requestable-box .ribbon-label {
    -fx-font-size: 12px;
}
