.search {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #555;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: #333;
    -fx-text-fill: whitesmoke;
}

.search-button {
    -fx-graphic: url("ic_search_white_18dp_1x.png") !important;
}