* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.gallery-thumb  {

}

.info-button {
    -fx-graphic: url("ic_info_white_18dp_1x.png") !important;
}

.fav-button {
    -fx-graphic: url("ic_favorite_white_18dp_1x.png") !important;
}

.gallery-thumb-content {
    -fx-spacing: 5;
}

.gallery-thumb-rating {
    -fx-background-color: -fx-background-hue2;
    -fx-opacity: 20%;
}

.gallery-thumb-buttons {
    -fx-background-color: -fx-background-hue2;
    -fx-opacity: 20%;
}


.ratingbar-reset {
    -fx-graphic: url("ic_clear_white_18dp_1x.png") !important;
}


/*.gallery-thumb-buttons:pressed {*/
    /*-fx-background-color: darkslategray;*/
    /*-fx-opacity: 10%;*/
/*}*/

.gallery-thumb-buttons .label {
    -fx-text-fill: whitesmoke;
}

.gallery-thumb-image-container{
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.gallery-thumb-image-container:hover{
    -fx-border-color: rgb(215, 133, 25) !important;
    -fx-opacity: 90%;
}

.gallery-thumb-image-container:focused{
    -fx-border-color: rgb(52, 73, 255);
}

.gallery-thumb-image-container:pressed{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}


.gallery-thumb-title{
    /*-fx-label-padding: 0 5 0 5;*/
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

.gallery-thumb-origin {
    /*-fx-label-padding: 0 5 0 5;*/
}

.new-label {
    -fx-background-color: darkred;
    -fx-text-fill: whitesmoke;
}

.new-label-left {
    -fx-background-color: darkred;
    -fx-shape: "M 0 0 L 0 10 L -10 0 Z";
}

.new-label-right {
    -fx-background-color: darkred;
    -fx-shape: "M 0 0 L 0 1 L 1 0 Z";
}

.rating > .container > .button:hover {
    -fx-effect: Null;
    -fx-opacity: 0.7;
}

.tooltip-warning {
    -fx-effect: dropshadow(two-pass-box, red, 2, 1.0, 0, 0);
}

.tooltip-hourglass {
    -fx-effect: dropshadow(two-pass-box, orange, 2, 1.0, 0, 0);
}

.tooltip-icon {
    -fx-opacity: 0.9;
    -fx-padding: 2 0 2 0;
    -fx-background-color: transparent;
    -fx-background-radius: 2px;
}

.tooltip-icon:hover {
    -fx-opacity: 0.5;
}