.image-button  {
    -fx-padding: 2;
}

.image-button{
    -fx-graphic: url("ic_play_arrow_white_18dp_1x.png");
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
}



.image-button:hover{
    -fx-border-color: rgb(215, 133, 25) !important;
    -fx-opacity: 90%;
}

/*.image-button:focused{*/
    /*-fx-border-color: rgb(90, 105, 215);*/
/*}*/

.image-button:pressed{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}

.image-button{
    -fx-text-fill: whitesmoke;
}
