.combo-box .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.combo-box {
    -fx-padding: 0 0 0 8;
}


.combo-box .arrow-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0;
    -fx-shape: null;
}